.framsida-bild {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}



.header2 {
    text-align: center;
    margin-bottom: 50px;
}


p {
    font-family: "plus Jakarta Sans", "Noto Serif JP", sans-serif;
    color: #0383a4;
    text-align: center;
}

body {
    margin: 0;
}

.länk2, a {
    text-decoration: none;
}
.länk2:hover {
    color: gray;
}

.länk-container:hover{
    color: gray;
}


.länk2 {
    color: #2976BB;
    font-family: "plus Jakarta Sans", "Noto Serif JP", sans-serif;
    font-size: 40px;

    border: 2px solid #00ccff;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);

    margin: auto;
    width: 100px;
    display: block;
    margin-top: 20px;
    
}

h1 {
    text-align: center;
    color: #00ccff;
    font-family: "plus Jakarta Sans", "Noto Serif JP", sans-serif;
    font-size: 60px;
    margin-top: 10px;
}

h2 {
    text-align: center;
    color: #00ccff;
    font-family: "plus Jakarta Sans", "Noto Serif JP", sans-serif;
    font-size: 50px;
    
}

h1, h2 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);;

    margin: 0;
    padding: 20px;
}

h4 {
    text-align: center;
    color: #2976BB;
    font-family: "plus Jakarta Sans", "Noto Serif JP", sans-serif;
    font-size: 20px;
}

h5 {
    text-align: center; 
    font-family: "plus Jakarta Sans", "Noto Serif JP", sans-serif;
    color: #0c6176;
}



.länk-container a{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-family: "plus Jakarta Sans", "Noto Serif JP", sans-serif;
    color: #2976BB;
    padding: 20px;

    border-bottom: 1px solid #b7dce5;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
}


.länk-container {
    width: 40rem;
    margin: auto;
    padding: 0px;

    border-radius: 12px;
    border: 2px solid #b7dce5;
    background-color: rgba(255, 255, 255, 0.2);
}

.sektion{
    display: flex;
}

.border {
    border: 2px solid #2976BB;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);

    width: 20rem;
    padding: 25px;
    height: 40rem;
    margin: auto;
}



.bild2 {
    width: 20rem;
    height: 20rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
}



